*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5% ;
} 
body{
    background-color: black;
    color: #fff;
}
.container{
    width: 75rem;
    margin: 5rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}
h1{
    font-size: 4rem;
}
p{
    font-size: 2.4rem;
}
.scorebox{
    width: 100%;
    display: flex;
    gap: 4rem;
    justify-content: space-between;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    align-items: center;
    justify-items: center;
}
.secretword{
    grid-column: 2;
    grid-row: 1;
}
.guesscontainer{
    grid-column: 1;
    grid-row: 2;
}
.inputchar{
     border-radius: 9px;
    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
    width: 18rem; 
    grid-column: 2;
    grid-row: 2;
}
.message{
    grid-column: 3;
    grid-row: 2;
}
.btn{
    border-radius: 12px;
    font-size: 2.4rem;
    padding: 1rem 2rem;
    grid-column: 2;
    grid-row: 3;
}
.btn:hover{
    background-color: #bbb;
}